# macOS
.DS_Store

# Terraform
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
_override.tf
*_override.tf
.terraform.lock.hcl
connect_csp.sh
webapp-key.pem
secret.yaml


# IDEs
.vscode/
.idea/

# Node
node_modules/
